
/*Loadmore*/
.js-content-loadmore{
    position: relative;
    height: 465px;
    overflow: hidden;
    &.-s6{
        height: 555px;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(0deg, #0a0329, transparent);
    }
    &.active{
        height: auto;
        &:after {
            display: none;
        }
    }
    @media (max-width:1024px){
        height: 410px;
        &.-s6 {
            height: 460px;
        }

    }
    @media (max-width:768px){
        height: 390px;
        &.-s6 {
            height: 580px;
        }
    }
    @media (max-width:575px){
        height: 555px;
        &.-s6 {
            height: 680px;
        }
    }
}

.js-btn-loadmore{
    position: relative;
    z-index: 2;
    font-family: Mahameru;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-top: 10px;
    text-transform: capitalize;
    cursor: pointer;
    background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition: all .5s;
    [class^="icon-"]{
        display: block;
        font-size: 12px;
        background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover{
        transform: scale(1.1);
    }
}


/**/
.ef--zoomin .dnfix__thumb img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}
.ef--zoomin:hover .dnfix__thumb img{-webkit-transform:scale(1.1);transform:scale(1.1)}

@keyframes float10{
    0%{transform:translatey(0px);}
    50%{transform:translatey(-10px);}
    100%{transform:translatey(0px);}
}

@keyframes spinner-rotate{
    to{transform:rotate(360deg);}
}

.sc__header{
    position: relative;
    padding-bottom: 40px;
    &__icon{

        margin: 0 auto 48px;
        img{
            width: auto;
            max-height: 108px;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 56px;
        line-height: 66px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    &__excerpt{
        font-weight: 500;
        font-size: 26px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #FFFFFF;;
        margin-bottom: 40px;
    }

    @media (max-width: 1199px){
        &__title{
            font-size: 48px;
            line-height: 52px;
        }
    }
    @media (max-width: 767px){
        margin: 0 auto 30px;
        &__title {
            margin-bottom: 16px;
        }
    }
    @media (max-width: 575px){
        margin: 0 auto 30px;
        &__excerpt{
            font-size: 14px;
        }
    }

}
/**/

.new__item{
    position: relative;
    margin-bottom: 30px;
    transition: all .5s;
    &.-large{
        .dnfix__thumb{
            padding-top:45%;
        }
        .new__item__title{
            height: auto;
        }
    }
    &__wrap{
        position: relative;
        z-index: 1;
        display: block;
        color: #fff;
    }
    &__thumb{
        margin-bottom: 20px;
        img{
            border-radius: 5px;
        }
    }
    .dnfix__thumb{
        padding-top: 56.5%;
    }
    &__tax{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 2px 10px;
        background: #40EEF9;
        color: #07021B;
        border-radius: 4px;
        font-weight: bold;
        font-size: 18px;
    }
    &__date{
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 16px;
        color: #868A96;
        &:before{
           content: "\e90b";
           font-family: 'icomoon';
           font-style: normal;
           display: inline-block;
           margin-right: 5px;
        }
    }
    &__title{
        height: 56px;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.6;
        color: #FFFFFF;
        margin-bottom: 6px;
        transition: all .5s;
    }
    &__excerpt{
        margin-bottom: 8px;
        font-size: 14px;
        color: #fff;
    }
    &__readmore{
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: #40EEF9;
    }
    &:hover{
        .new__item__title{
            color: #40EEF9;
        }
        .new__item__readmore{
            text-decoration: underline;
        }
    }

    @media (max-width:767px){
        margin-bottom: 20px;
        &.-s1{
            .new__item{
                &__wrap{
                    display: flex;
                }
                &__thumb{
                    flex: 0 0 auto;
                    width: 100px;
                    margin-right: 10px;
                }
                &__meta{
                    flex-grow: 1;
                }
                &__excerpt{
                    display: none;
                }
            }
        }

        &__title{
            font-size: 14px;
            height: auto;
            margin-bottom: 0;
        }
        &__date{
            margin-bottom: 0;
        }
        &__readmore{
            font-size: 12px;
        }
    }
}

//paging-navigation
.paging-navigation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #05D9A3;
    .pagination{
        .page-numbers{
            width: 40px;
            height: 40px;
            margin: 0 4px;
            border: 0;
            transition: background .5s;
            background: #fff;
            text-align: center;
            color: #868A96;
            border-radius: 5px;
            &.current, &:hover{
                background: linear-gradient(360deg, #039099 0%, #11E4F1 100%);
                color:#fff;
                opacity: 1;
            }

            &.prev, &.next{
                opacity: 1;
                background: transparent;
            }
        }

    }
}
