.sc__header{
    position: relative;
    padding-bottom: 40px;
    max-width: 820px;
    margin: 0 auto;
    &__icon{
        margin: 0 auto 48px;
        img{
            width: auto;
            max-height: 108px;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 56px;
        line-height: 66px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    &__excerpt{
        font-weight: 500;
        font-size: 26px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #FFFFFF;;
        margin-bottom: 40px;
    }

    @media (max-width: 1599px){
        &__title {
            font-size: 48px;
            line-height: 58px;
        }
        &__excerpt {
            font-size: 18px;
            line-height: 38px;
        }
    }

    @media (max-width: 1199px){
        &__title{
            font-size: 40px;
            line-height: 50px;
        }
    }
    @media (max-width: 767px){
        &__icon img {
            max-height: 80px;
        }
        &__title {
            margin-bottom: 16px;
        }
        &__excerpt{
            margin-bottom: 16px;
        }
    }
    @media (max-width: 575px){
        &__icon{
            margin: 0 auto 20px;
            img {
                max-height: 60px;
            }
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

/*Loadmore*/
.js-content-loadmore{
    position: relative;
    height: 465px;
    overflow: hidden;
    &.-s6{
        height: 555px;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(0deg, #0a0329, transparent);
    }
    &.active{
        height: auto;
        &:after {
            display: none;
        }
    }
    @media (max-width:1024px){
        height: 410px;
        &.-s6 {
            height: 460px;
        }

    }
    @media (max-width:768px){
        height: 390px;
        &.-s6 {
            height: 580px;
        }
    }
    @media (max-width:575px){
        height: 555px;
        &.-s6 {
            height: 680px;
        }
    }
}

.js-btn-loadmore{
    position: relative;
    z-index: 2;
    font-family: Mahameru;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-top: 10px;
    text-transform: capitalize;
    cursor: pointer;
    background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition: all .5s;
    [class^="icon-"]{
        display: block;
        font-size: 12px;
        background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover{
        transform: scale(1.1);
    }
}


/**/
@-webkit-keyframes Mousex{
  from{-webkit-transform:translate(0,0px);}
  65%{-webkit-transform:translate(0,15px);}
  to{-webkit-transform:translate(0,-0px);}
}
@-moz-keyframes Mouse{
  from{-moz-transform:translate(0,0px);}
  65%{-moz-transform:translate(0,15px);}
  to{-moz-transform:translate(0,-0px);}
}

.ef--zoomin .dnfix__thumb img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}
.ef--zoomin:hover .dnfix__thumb img{-webkit-transform:scale(1.1);transform:scale(1.1)}

@keyframes float10{
    0%{transform:translatey(0px);}
    50%{transform:translatey(-10px);}
    100%{transform:translatey(0px);}
}

@keyframes spinner-rotate{
    to{transform:rotate(360deg);}
}


/**/

.new__item{
    position: relative;
    margin-bottom: 30px;
    background: #FFFFFF;
    transition: all .5s;
    &__wrap{
        position: relative;
        z-index: 1;
        display: block;
        color: #fff;
    }
    &__thumb{
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(179.97deg, rgba(92, 92, 92, 0) 0.02%, rgba(0, 0, 0, 0.17) 47.75%, rgba(0, 0, 0, 0.7) 85.66%);
        }
    }
    .dnfix__thumb{
        padding-top: 69%;
    }
    &__meta{
        padding: 30px 40px;
    }
    &__tax{
        position: absolute;
        z-index: 1;
        bottom: 20px;
        left: 20px;
        padding: 5px 10px;
        background: #40EEF9;
        border-radius: 4px;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1em;
        color: rgba(0, 10, 78, .85);
    }
    &__by{
        font-size: 16px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #BAC4C8;
    }
    &__title{
        font-weight: 600;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 0.03em;
        color: #000A4E;
        margin-bottom: 24px;
        transition: all .5s;
    }
    &:hover{
        .new__item__title{
            color: #241754;
        }
    }
    @media (max-width:1399px){
        &__title {
            font-size: 20px;
            line-height: 30px;
        }
        &__excerpt {
            font-size: 16px;
            line-height: 34px;
            color: #f7f7f7;
        }
        &__tax {
            font-size: 14px;
            line-height: 21px;
            padding: 6px 15px;
            margin-bottom: 20px;
        }
        &__by {
            font-size: 14px;
            line-height: 30px;
        }
    }
    @media (max-width:1199px){
        &__title {
            font-size: 18px;
            line-height: 28px;
        }
        &__meta {
            padding: 20px;
        }
        &__tax {
            font-size: 12px;
            padding: 4px 14px;
        }
    }
    @media (max-width:767px){
        margin-bottom: 20px;
        &__title {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

//paging-navigation
.paging-navigation{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #05D9A3;
    .pagination{
        .page-numbers{
            width: 40px;
            height: 40px;
            margin: 0 4px;
            border: 0;
            transition: background .5s;
            background: #fff;
            text-align: center;
            color: #868A96;
            border-radius: 5px;
            &.current, &:hover{
                background: #271a57;
                color:#fff;
                opacity: 1;
            }

            &.prev, &.next{
                opacity: 1;
                background: transparent;
            }
        }

    }
}
